---
import Demo from '../../../components/portfolio/project1/Demo.jsx';
---

<html lang="en">
  <head>
    <title>Project 1</title>
  </head>
  <body>
    <h1>Project 1 Demo</h1>
    <Demo client:load />
  </body>
</html>