---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Fähigkeiten" />
		<ul>
			<li><p>HTML5 / CSS3</p></li>
			<li><p>JavaScript (ES6+)</p></li>
			<li><p>Responsives und Cross-Browser-Design</p></li>
			<li><p>Git / GitHub</p></li>
			<li><p>Arbeit mit Figma (Layouts lesen und umsetzen)</p></li>
			<li><p>Grundkenntnisse in SEO und UX-Design</p></li>
		</ul>
	</div>
</section>
