#skills {
    display: flex;
    max-width: calc(var(--max-width) + 2.2rem);
    padding: 1.1rem;
    gap: 2.2rem;
    margin: 4rem auto;
}

#skills .text-content {
    max-width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.1rem;
    background: var(--site-bg-tr);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 30px;
}

#skills .text-content ul {
    list-style: none;
    padding-left: 1rem;
}

#skills .text-content ul li {
    position: relative;
    display: flex;
    align-items: center;
}

#skills .text-content ul li::before {
    content: "•";
    /* символ маркера */
    position: absolute;
    left: -1rem;
    color: var(--color);
    /* цвет точки (можно заменить) */
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #skills {
        flex-direction: column-reverse;
    }

    #skills .text-content {
        max-width: 100%;
    }
}