.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    position: relative;
    z-index: 2;
}
/* .about::before {
	content: '';
	position: absolute;
	height: 6rem;
	width: 100%;
	background: linear-gradient(0deg, var(--site-bg), #00000000);
	top: -6rem;
} */

.about__container {
    display: flex;
    /* padding: 11rem 13.1rem; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    gap: 4.4rem;
    align-items: center;
    
}

.about__img {
    /* background-color: #0d0045;
	-webkit-mask-image: radial-gradient(ellipse, #000 53%, #0000 68%); */
    border-radius: 50%;
    /* mask-image: radial-gradient(ellipse, #000 53%, #0000 68%); */
    border-radius: 50%;
    object-fit: cover;
    width: 39.5rem;
    aspect-ratio: 1/1;
    min-width: 39.5rem;
    object-position: 50% 30%;
}

.about__content {
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    gap: 2.1rem;
    justify-content: center;
    background: var(--site-bg-tr);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 30px;
}

.about__text {
    font-size: var(--text-general);
    max-width: 70.19rem;
}

@media screen and (max-width: 768px) {
    .about__container {
        /* padding: 8rem 3.1rem; */
        flex-direction: column-reverse;
        align-items: center;
    }

    .about__img {
        width: 29.5rem;
        /* height: 38.1rem; */
        min-width: 29.5rem;
        /* min-height: 38.1rem; */
    }
}