---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/il.jpg"
			alt="Profilfoto von Iuliia Shreyder"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Über mich" />
			<p class="about__text">
				Von der Geschichte zur Frontend-Story: Früher stand ich als
				Lehrerin im Klassenzimmer, heute kreiere ich Webseiten. Seit
				2017 tauche ich in die Welt des Frontend-Developments ein – mit
				Neugier, Kreativität und einer großen Portion Leidenschaft.
			</p>
			<SocialIcons width="25" height="25" />
		</div>
	</div>
</section>
