---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="iuliiaShreyder">
  <div class="terminal__skills">
    <h2>Meine Skills</h2>
    <div class="terminal__skills__container">
      <TerminalIcon src="/assets/html5.svg"       color="#E44D26" name="HTML5" />
      <TerminalIcon src="/assets/css3.svg"         color="#1572B6" name="CSS3" />
      <TerminalIcon src="/assets/scss.svg"        color="#C6538C" name="SCSS" />
      <TerminalIcon src="/assets/javascript.svg"  color="#F7DF1E" name="JavaScript" />
      <TerminalIcon src="/assets/vue.svg"         color="#41B883" name="Vue.js" />
      <TerminalIcon src="/assets/bootstrap.svg"   color="#7738FF" name="Bootstrap" />
      <TerminalIcon src="/assets/php.svg"         color="#777BB4" name="PHP (Basics)" />
      <TerminalIcon src="/assets/wordpress.svg"   color="#21759B" name="WordPress" />
      <TerminalIcon src="/assets/git.svg"         color="#F05032" name="Git" />
      <TerminalIcon src="/assets/photoshop.svg"   color="#31A8FF" name="Photoshop" />
      <TerminalIcon src="/assets/illustrator.svg" color="#FF9A00" name="Illustrator" />
      <!-- new -->
      <TerminalIcon src="/assets/responsive.svg"  color="#0EA5E9" name="Responsive Design" />
      <TerminalIcon src="/assets/seo.svg"         color="#22C55E" name="SEO" />
    </div>
  </div>
</Terminal>