.base {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min-content;
    color: var(--icon-color);
}

.skill {
    transition: all .3s ease-in-out;

}

.skill:hover {
    transform: scale(0.9) rotate(1deg);

}

.name {
    font-size: var(--text-general);
}

.icon {
    font-size: 7rem;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}